<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Demo Tienda Online{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <header class="bg-dark text-white py-3 shadow-sm">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="h3 mb-0">
                Demo Tienda Online
            </h1>
            <nav>
                <a href="{% url 'home' %}" class="btn btn-outline-light me-2"><i ></i> Catálogo</a>
                <a href="{% url 'galeria_destacados' %}" class="btn btn-outline-light me-2"> Galeria</a>
                <a href="{% url 'rastreo_form' %}" class="btn btn-outline-light me-2"> Rastreo</a>
            </nav>
        </div>
    </header>

    <div class="container my-4">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert 
                        {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-info{% endif %} 
                        alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="p-4 bg-white rounded shadow-sm">
            {% block content %}
            
            {% endblock content %}
        </div>
    </div>

    <footer class="bg-light text-center py-3 mt-4 border-top">
        <p class="mb-0 text-muted">&copy; 2025 Demo Tienda Online. Todos los derechos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>